@keyframes positioning{
  0%{
    transform: translateY(100px);
  }
  
  100%{
    transform: translateY(0);
  }
} 

.starter{
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 0;
  width: 50%;
  text-align: center;
  transition: 0.8s;
  transform: translateY(0);
  animation: positioning 1s 1;
}

@keyframes colorChange{
  0%{
    color: red;
  }
  
  20%{
    color: green;
  }
  
  40%{
    color: blue;
  }
  
  60%{
    color: orange;
  }
  
  80%{
    color: purple;
  }
  
  100%{
    color: red;
  }
}

.ms{
  animation: colorChange infinite 20s;
  font-size: 25px;
  white-space: nowrap;
  margin-bottom: 30px;
}

.start-learning{
  pointer: none;
  color: white;
  background: dodgerblue;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  text-align: center;
  height: 40px;
  white-space: nowrap;
}

.lessons{
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  justify-content: center;
  width: 95vw;
  margin-bottom: 50px;
  border-radius: 6px;
  padding: 0px;
  height: auto;
  transform: translateY(80px);
  transition: 0.8s;
  opacity: 0;
}

.lesson{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px gray;
  border-radius: 6px;
  box-shadow: gray 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  margin: 10px;
  width: 300px;
  height: 200px;
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.4s;
}

.lesson:active{
  background: black;
}

.lesson-pic{
  width: 200px;
  height: 150px;
}

.lesson-text{
  font-size: 17px;
  color: gray;
  margin-top: auto;
}

@media all and (min-width: 600px){
  .starter{
    width: 30%;
  }
  
  .ms{
    font-size: 30px;
  }
  
  .start-learning{
    font-size: 30px;
    height: 50px;
  }
  
  .lessons{
    width: 80%;
    margin-top: 20px;
  }

  .lesson-text{
    font-size: 20px;
  }

  .lesson-text2{
    font-size: 20px;
  }
}