*{
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body{
  display: grid;
  justify-items: center;
  align-content: start;
  background: url('msbackground.png') no-repeat black;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  overflow-x: none;
}

.title{
  display: flex;
  align-items: center;
  background: #222767;
  padding: 5px;
  border-bottom: solid 1px black;
  height: 60px;
  width: 100%;
}

.mslogo{
  width: 40px;
  height: 40px;
  margin-right: auto;
}

.span{
  font-size: 30px;
}

.scrollable-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #222767;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 0;
}

.a{
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
  cursor: none;
  transition: 0.3s;
  text-align: center;
}

#e:hover{
  background: green;
}

#p:hover{
  background: red;
}

.a:hover{
  background: black;
}

.a:active{
  color: yellow;
  transition: 0s;
}

.by{
  width: 100%;
  background: black;
  height: 50px;
  padding: 0px;
  position: fixed;
  bottom: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.text{
  color: blue;
  font-size: 15px;
}

.by2{
  border: solid 3px #222767;
  padding: 1px;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

@media all and (min-width: 600px){
  .title{
    padding: 15px;
    width: 80%;
  }
  
  .scrollable-bar{
    padding: 5px;
    width: 80%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .a{
    font-size: 25px;
    width: 200px;
  }
  
  .by{
    height: 70px;
  }
  
  .by2{
    padding: 5px;
  }
  
  .text{
    font-size: 20px;
  }
}